body {
    align-items: center; /* Align in y axis */
    display: flex;
    height: 100vh; /* Full screen */
    justify-content: center; /* Align in x axis */
}

/* Animation */

@keyframes left-scroll {
    0% {transform: translateX(0);}
    100% {transform: translateX(-800px)}
}

@keyframes right-scroll {
    0% {transform: translateX(0);}
    100% {transform: translateX(800px)}
}

@keyframes slider {
    0% {transform: translateX(0);}
    33% {transform: translateX(-800px);}
    66% {transform: translateX(-1600px);}
    100% {transform: translateX(-2400px);}
}

/* Styling */

#container {
    width: 800px;
    height: 500px;
    margin: auto;
    background-color: #eee;
    overflow: hidden; /* That's the important part */
    position: relative;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
}

#slider {
    /* animation: slider 12s ease-in-out infinite; */
    transition: transform 3s;
    display: flex;
    transform: translateX();
    width: calc(800px * 4);
    position: relative;
}
/*
#slider.lefted {
    left: -800px;
}

#slider.righted {
    right: 800px;
}
*/
.slide {
    height: 500px;
    width: 800px;
}

#next-button, #previous-button {
    position: absolute;
    top: 226px;
    z-index: 200;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
}

#previous-button {
    left: 20px;
}

#next-button {
    left: 730px;
}