body {
    align-items: center; /* Align in y axis */
    display: flex;
    height: 100vh; /* Full screen */
    justify-content: center; /* Align in x axis */
}

/* Animation */

@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translateX(calc(-800px * 4))}
}

@keyframes slider {
    0% {transform: translateX(0);}
    33% {transform: translateX(-800px);}
    66% {transform: translateX(-1600px);}
    100% {transform: translateX(-2400px);}
}

/* Styling */

#container {
    width: 800px;
    height: 500px;
    margin: auto;
    background-color: #eee;
    overflow: hidden; /* That's the important part */
    position: relative;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
}

#slider {
    /* animation: slider 12s ease-in-out infinite; */
    transition: left 3s;
    display: flex;
    left: 0px;
    width: calc(800px * 4);
    position: relative;
}

#slider.lefted {
    left: -800px;
}

.slide {
    height: 500px;
    width: 800px;
}